[Desktop Entry]
Name=ADS-B Feeder Monitor
Comment=Monitor your ADS-B feeder
Exec=adsb-monitor
Icon=airplane-mode-symbolic
Terminal=false
Type=Application
Categories=Network;Monitor;Utility;
Keywords=adsb;flight;aircraft;radar;
StartupWMClass=adsb-monitor
